.ghost-input {
    width: 100%;
    padding-left: 10px 15px;
    margin: 50px 550px 70px 550px;
    font-family: 'Open Sans', Verdana;
    font-size: 25px;
    font-weight: 300;
    color: #4B545F;
    border: 0;
    outline: none
}


.ghost-button {
    border: 2px solid #bfbfbf;
    width: 20%;
    margin-top: 0px;
    margin-left: 555px;
    margin-right: 555px;
    padding: 10px 30px;
}

h1 {
    color:black;
    margin: 80px 600px 0px 600px;
}